{% extends "base.html" %}
{% block header %}
<link href="/static/style.css" rel="stylesheet">
<link href="/static/table.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div id="page-wrapper" style="margin-left:auto;margin-right:auto;width: auto">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-comments"></i>
                    <h4>任务列表</h4>
                </div>
                <div class="tools">
                <a class="collapse" href="javascript:;"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div>
                    <a href="/add_task" class="btn btn-primary" style="float:right;margin:5px 15px;background-color: #4b8df8">新增任务</a>
                    <a href="/show_log" class="btn btn-primary" style="float:right;margin:5px 5px;background-color: #4b8df8">显示日志</a>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="text-align:center;margin:0 ">
                    <div class="dataTable_wrapper" >
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th ><span>任务名</span></th>
                                <th style="width: 8%"><span>任务状态</span></th>
                                <th style="width: 8%"><span>最后执行结果</span></th>
                                <th ><span>最后执行开始时间</span></th>
                                <th ><span>最后执行结束时间</span></th>
                                <th style="width: 15%;;"><span>命令</span></th>
                                <th ><span>corn时间</span></th>
                                <th ><span>下次运行时间</span></th>
                                <th style="width:15%"><span>操作</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in data %}
                                <tr class="odd gradeX">
                                    <td><span>{{ d.name }}</span></td>
                                    <td><span {% if d.status=='开启' %}class="label label-success"
                                              {% else %}class="label label-danger" {% endif %}>{{ d.status }}</span>
                                    </td>
                                    <td><span {% if d.lastresult=='成功' %}class="label label-success"
                                              {% elif d.lastresult=='运行中' %}class="label label-warning"
                                              {% else %}class="label label-danger"{% endif %}>{{ d.lastresult }}</span>
                                    </td>
                                    <td><span>{{ d.lastbegin }}</span></td>
                                    <td><span>{{ d.lastend }}</span></td>
                                    <td><span>{{ d.command }}</span></td>
                                    <td><span>{{ d.cron }}</span></td>
                                    <td><span>{{ d.nextruntime }}</span></td>
                                    <td><span>
                                                <a href="/get_log?id={{ d.id }}" class="btn btn-default"
                                                   style="width:66px;height:34px">日志</a>
                                                <a href="/task_detail?id={{ d.id }}" class="btn btn-default"
                                                   style="width:66px;height:34px">详情</a>
                                                <a href="/delete_task?id={{ d.id }}" class="btn btn-default"
                                                   style="width:66px;height:34px" onclick="del()">删除</a>
                                            </span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function del() {
            if (!confirm('确认删除任务？')) {
                window.event.returnValue = false;
            }
        }
    </script>
{% endblock %}
