{% extends "base.html" %}
{% block content %}
    {% set id = request.args.get('id') %}
    <div id="page-wrapper" style="margin-left:auto;margin-right:auto;width: 1200px">
        <form action="/task_detail" method="post">
            <input type="hidden" name="id" value={{ id }}>

            <div class="form-group">
                <label style="margin-top: 15px">Task Name</label>
                <input name="tname" class="form-control" value="{{ data[0].name }}">
            </div>
            <label>Status:</label>

            <div class="radio">
                <label>
                    <input type="radio" name="status" id="optionsRadios1" value="1"
                           {% if data[0].status =="开启" %}checked="chected" {% endif %}>开启
                </label>
                <label>
                    <input type="radio" name="status" id="optionsRadios2" value="0"
                           {% if data[0].status =="关闭" %}checked="chected" {% endif %}>关闭
                </label>
            </div>
            <div class="form-group">
                <label>Command</label>
                <input name="command" class="form-control" value="{{ data[0].command }}">
            </div>
            <div class="form-group">
                <label>Cron</label>
                <input name="cron" class="form-control" style="width:176px" value="{{ data[0].cron }}">
            </div>
            <div>
                <div class="form-group" style="float: left">
                    <label for="disabledSelect">LastBeginRunTime</label>
                    <input class="form-control" id="lastbegin" type="text" placeholder="{{ data[0].lastbegin }}"
                           disabled="" style="width:176px">
                </div>
                <div class="form-group" style="float: left;margin-left: 20px">
                    <label for="disabledSelect">LastEndRunTime</label>
                    <input class="form-control" id="lastend" type="text" placeholder="{{ data[0].lastend }}" disabled=""
                           style="width:176px">
                </div>
                <div class="form-group" style="float: left;margin-left: 20px">
                    <label for="disabledSelect">LastRunResult</label>
                    <input class="form-control" id="lastresult" type="text" placeholder="{{ data[0].lastresult }}"
                           disabled="" style="width:176px">
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-default" style="float:right;width:100px;height:45px">Update
                </button>
            </div>
        </form>
    </div>
{% endblock %}